// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// SpaceBnB Palette
$bg-gradient: linear-gradient(121deg, rgba(25,25,50,1) 0%, rgba(17,21,62,1) 69%, rgba(145,22,22,1) 100%);
// $bg2-gradient: linear-gradient(121deg, rgba(34,34,74,1) 0%, rgba(180,67,67,1) 100%);
$russian-violet: #12044A;
$spanish-violet: #4A306D;
$ghost-white: #FAFAFF;
$dark-red: #8D0801;
$burgundy: #6C0E23;
$oxford-blue: #0B132B;
$space-cadet: #1F1F36;
