<img src="https://res.cloudinary.com/dqat8a2hi/image/upload/v1645620922/Space-BNB/hero_image_e7g5yd.webp" style="object-fit: cover;" width="100%" height="400px">

<div class="container text-center">
  <h1>Space BNB</h1>
  <p>cool slogan! and stuff!</p>
</div>

<img src="https://res.cloudinary.com/dqat8a2hi/image/upload/v1645620922/Space-BNB/banner_colony2_afgrgv.png" style="object-fit: cover;" width="100%" height="300px">

<div class="container text-center">
  <h1>COOL COLONIES TO STAY AT!</h1>
  <p>YIPEEE!!!!!!!!!!!!!!!</p>
  <%= link_to 'Explore Colonies', colonies_path, class: 'btn btn-dark' %>
  <p>cards? maybe? yes? no? who knows!</p>
</div>

<img src="https://res.cloudinary.com/dqat8a2hi/image/upload/v1645621320/Space-BNB/bnner_activities2_trvykq.jpg" style="object-fit: cover;" width="100%" height="300px">

<div class="container text-center">
  <h1>A BUNCH OF COOL STUFF TO DO!</h1>
  <p>Hell yeah! stuff!</p>
  <%= link_to 'Explore Activities', colonies_path, class: 'btn btn-dark' %>
    <p>cards? maybe? yes? no? who knows!</p>
</div>
