<!-- HERO BANNER -->
<div id="top" class="banner main-banner text-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dqat8a2hi/image/upload/v1645620922/Space-BNB/hero_image_e7g5yd.webp);">
  <div class="container">
    <h1><strong>S P A C E - B N B</strong></h1>
    <h2><em>Explore the Universe</em> like never before!</h2>
    <p>Book a stay in the galaxy and find amazing activities to enjoy.</p>

    <%= render 'shared/search'%>
  </div>
</div>

<!-- DISCOVER -->
<div class="banner-between text-center">
  <h2>DISCOVER</h2>
  <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z"/></svg>
</div>

<!-- COLONIES BANNER -->

<div class="banner main-banner text-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dqat8a2hi/image/upload/v1645620922/Space-BNB/banner_colony2_afgrgv.png);">
  <div class="container">
    <h2>Book a stay at the <em>Best colonies</em></h2>
    <p>We bring you the largest selection of premium colonies <strong>galaxy-wide!</strong></p>
  </div>
</div>

<!-- ENJOY -->
<div class="banner-between text-center">
  <h2>ENJOY</h2>
  <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z"/></svg>
</div>

<!-- ACTIVITIES BANNER -->

<div class="banner main-banner text-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dqat8a2hi/image/upload/v1645621320/Space-BNB/bnner_activities2_trvykq.jpg);">
  <div class="container">
    <h2>Live your <em>best life.</em> enjoy amazing activities!</h2>
    <p>Only boring people get bored. Find a range of <strong>exhilarating activities</strong> around the galaxy!</p>
  </div>
</div>

<!-- SPACER -->
<div class="banner-between text-center">
  <a href="#top" class="undecorated">
  <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M416 352c-8.188 0-16.38-3.125-22.62-9.375L224 173.3l-169.4 169.4c-12.5 12.5-32.75 12.5-45.25 0s-12.5-32.75 0-45.25l192-192c12.5-12.5 32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25C432.4 348.9 424.2 352 416 352z"/></svg>
  <p>Back to top</p>
  </a>
</div>
