<img src="https:/picsum.photos/900/300?random=1" width="100%" height="400px">

<div class="container text-center">
  <h1>Space BNB</h1>
  <p>cool slogan! and stuff!</p>
</div>

<img src="https://picsum.photos/900/300?random=2" width="100%" height="250px">

<div class="container text-center">
  <h1>COOL COLONIES TO STAY AT!</h1>
  <p>YIPEEE!!!!!!!!!!!!!!!</p>
  <%= link_to 'Explore Colonies', colonies_path, class: 'btn btn-dark' %>
  <p>cards? maybe? yes? no? who knows!</p>
</div>

<img src="https://picsum.photos/900/300?random=3" width="100%" height="250px">

<div class="container text-center">
  <h1>A BUNCH OF COOL STUFF TO DO!</h1>
  <p>Hell yeah! stuff!</p>
  <%= link_to 'Explore Activities', colonies_path, class: 'btn btn-dark' %>
    <p>cards? maybe? yes? no? who knows!</p>
</div>
