<div class="container">

<h1> Cosmic Colonies Index 👽</h1>

<ul class="colony-list">
  <% @colonies.each do |colony| %>
  <li><%= link_to colony.name, colony_path(colony) %></li>
  <% end %>
  <%# <li>Quagmar5</li>
  <li>HugmilonXR-72376r23r78</li>
  <li>The Pete's Pulsator</li>
  <li>Esmers</li>
  <li>Uranus</li>
  <li>SpaceXv-9ElonMcMuskus</li> %>
</ul>

</div>
